*{
    margin: 0;
    padding: 0;
}

.form1{
    display: flex;
    flex-direction: column;
  justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    background: rgba(255, 255, 255, 0.5);
}
.inner-box{
    display: flex;
}
.form-input{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
}
.form1 button{
    width: 270px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
.form-input:hover{
    background-color: white;
    cursor: pointer;
}
.form1 button:hover{
    background-color: white;
    cursor: pointer;
}
.inner-box{
    display: flex;
    width: 270px;
}

.p1{
    flex: 1;
    padding-left: 5px;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://wallpapers.com/images/high/4k-moving-scenery-desktop-vqoac0izoii89yl9.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.p2:hover{
    color: blue;
    cursor: pointer;
}
.p1:hover{
    color: blue;
    cursor: pointer;
}
.p3:hover{
    color: blue;
    cursor: pointer;
}
.p3:active{
    color: white;
}
.p3{
    text-decoration: none; 
  color: inherit; 
}